.upload-button {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    width: 100%;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: __Roboto_a17896, __Roboto_Fallback_a17896;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 50px 22px;
    border-radius: 4px;
    color: #697586;
    background-color: white;
}
