.blog-card {
  .blog-card-navigation {
    transition: all 500ms ease;
    overflow: hidden;
    height: 0px;
  }
}
.blog-card:hover {
  .blog-card-navigation {
    transition: all 500ms ease;
    overflow: hidden;
    height: 64px;
  }
}
